apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: raagtime
  name: raagtime
  labels:
    app: raagtime
spec:
  replicas: 1
  selector:
    matchLabels:
      app: raagtime
  template:
    metadata:
      labels:
        app: raagtime
    spec:
      initContainers:
        - name: await-migrations
          image: dbackeus/raagtime:sha-b179590
          envFrom: [configMapRef: { name: env }]
          command: ["bin/rails", "db:abort_if_pending_migrations"]
      containers:
        - name: web
          image: dbackeus/raagtime:sha-b179590
          envFrom: [configMapRef: { name: env }]
          command: ["bin/rails", "server", "-b", "0.0.0.0"]
          ports:
            - containerPort: 3000
          resources:
            limits:
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /robots.txt
              port: 3000
              scheme: HTTP